<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.BrandMapper">
    <select id="queryAll" resultType="TbBrand">
      SELECT * FROM tb_brand
    </select>
    <!--因为 select2 的格式需要,所以需要给 name 起别名 text-->
    <select id="selectOptionList" resultType="map">
        select id,name as text from tb_brand
    </select>
</mapper>